<div>
    <div>
        <a nz-dropdown [nzDropdownMenu]="menu">
            Boad size
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="selectBoardSize('4 x 4')">4 x 4 (Easy)</li>
              <li nz-menu-item (click)="selectBoardSize('4 x 6')">4 x 6 (Easy)</li>
              <li nz-menu-item (click)="selectBoardSize('6 x 6')">6 x 6 (Noramal)</li>
              <li nz-menu-item (click)="selectBoardSize('8 x 8')">8 x 8 (Hard)</li>
            </ul>
          </nz-dropdown-menu>

          <span>{{cartPageService.boardSize}}</span>
    </div>
    <div>
        <div class="row-wrapper" nz-row [nzGutter]="[10, 4]"> 
            <div  class="row-wrapper" 
              nz-col 
              class="gutter-row" 
              [ngClass] = "{'no-click': element.diabled}"
              nz-card-grid [ngStyle]="gridStyle"
              *ngFor="let element of cartItemModels" 
              [nzSpan]="getColSpan()">
                <app-memory-card-item 
                [cartItemModel]="element" 
                (cartClicked)="onCartClick($event)">

                </app-memory-card-item>
            </div>
        </div>
    </div>
</div>
