
.quiz-list{
    gap: 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap; /* NEW */
    width: 100vw;
    height: calc(100vh - 120px);
    // min-height: calc(100vh - 350px);
    overflow-y: auto;
}